* {
    margin: 0;
    padding: 0;
}

.car {
    position: absolute;
    width: 200px;
    top: 50px;
    left: -100%;
    animation: slide-in 3s forwards;
}

@keyframes slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: calc(100% - 200px - 50px)
    }
}

.car__wheel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}
.wheel__innerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: purple;
}
.wheel__innerLine {
    width: 15px;
    height: 2px;
    background-color: black;
    animation: rotate 3s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.car__wheels {
    display: flex;
    justify-content: space-around;
    margin-top: -30px;
}

.car__body-up {
    width: 125px;
    height: 45px;
    margin-left: 35px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: blue;
}
.car__body-down {
    width: 200px;
    height: 50px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    background-color: green;
}